<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Item List</title>
</head>
<body>
<div id="menu" th:insert="menu :: menu_fragment"></div>

<div class="container">
    <br>
    <h4>Set destination, check items</h4>
    <form class="row g-3" th:action="@{/movement/list}" method="POST" th:object="${form}">
        <div class="col-md-2">
            <label for="inputWarehouses" class="form-label">To warehouse</label>
            <select class="form-select" name="warehouse" th:value="${warehouse}"
                    id="inputWarehouses" aria-label="Warehouse select">
                <option th:each="w : ${warehouses}"
                        th:value="${w}"
                        th:text="${w}"
                        th:selected="${w == warehouse}">
                </option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputPerson" class="form-label">To person</label>
            <select class="form-select" name="person" th:value="${person}"
                    id="inputPerson" aria-label="Person select">
                <option th:each="p : ${people}"
                        th:value="${p}"
                        th:text="${p}"
                        th:selected="${p == person}">
                </option>
            </select>
        </div>
        <table class="table mt-4">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Deployment Date</th>
                <th>Person</th>
                <th>Warehouse</th>
                <th>Ware Group</th>
                <th>Amount for movement</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, itemStat : *{items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${#dates.format(item.deploymentDate, 'dd.MM.yyyy')}"></td>
                <td th:text="${item.person}"></td>
                <td th:text="${item.warehouse}"></td>
                <td th:text="${item.wareGroup}"></td>
                <td th:text="${item.amountForMovement}"></td>
                <td>
                    <input th:field="*{items[__${itemStat.index}__].id}" type="hidden" th:value="${item.id}"/>
                    <input th:field="*{items[__${itemStat.index}__].amount}" type="hidden"
                           th:value="${item.amount}"/>
                    <input th:field="*{items[__${itemStat.index}__].amountForMovement}" type="hidden"
                           th:value="${item.amountForMovement}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-12">
            <button type="submit" class="btn btn-md btn-primary">Transfer</button>
        </div>
    </form>
    <div class="mt-2">
        <a th:href="@{/movement}" class="btn btn-outline-primary" role="button">Back and start over</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>